<%= form_tag("/submit", method: "post ", id: "yolo", class: "form-inline") do %>
  
  <div id="inner_form">

  <%= label_tag(:query_distance, "Target distance:") %>
  <%= text_field_tag 'query_distance', nil, class: "form-control" %>

  <%= label_tag(:age, "Age:") %>
  <%= text_field_tag 'age', nil, class: "form-control" %></br>

  <%= label_tag(:gender, "Gender:") %></br>
  <div class="btn-group">
   <button type="button" id="gender-btn-male" class="btn btn-info">Male</button>
   <button type="button" id="gender-btn-female" class="btn btn-default">Female</button>
  </div></br>

  <div style="display:none">
  <%= radio_button_tag 'gender', 'Male', checked: "checked" %> <%= label :fitness, 'Male' %></br>
  <%= radio_button_tag 'gender', 'Female' %> <%= label :fitness, 'Female' %>
  </div>
  </br>

  <%= label_tag(:fitness, "Fitness level:") %></br>
  <div class="btn-group">
   <button type="button" id="fitness-btn-0" class="btn btn-info">Low</button>
   <button type="button" id="fitness-btn-1" class="btn btn-default">Medium</button>
   <button type="button" id="fitness-btn-2" class="btn btn-default">High</button>
  </div></br>

  <div style="display:none">
  <%= radio_button_tag 'fitness', 0, checked: "checked" %></br>
  <%= radio_button_tag 'fitness', 1 %></br>
  <%= radio_button_tag 'fitness', 2 %></br>
  </div>

  <h4><span class="label label-warning">Please enter at least 2 runs, cheers!</span></h4>

  <h3> Run 1: </h3>

  <%= label_tag(:distance, "Race distance:") %>
  <%= text_field_tag 'distance', nil, class: "form-control", name: "run[0][distance]" %>

  <%= label_tag(:hours, "Hours:") %>
  <%= text_field_tag 'hours', nil, class: "form-control", name: "run[0][hours]" %>
  
  <%= label_tag(:minutes, "Minutes:") %>
  <%= text_field_tag 'minutes', nil, class: "form-control", name: "run[0][minutes]" %>
  
  <%= label_tag(:seconds, "Seconds:") %>
  <%= text_field_tag 'seconds', nil, class: "form-control", name: "run[0][seconds]" %>

  <h3> Run 2: </h3>

  <%= label_tag(:distance, "Race distance:") %>
  <%= text_field_tag 'distance', nil, class: "form-control", name: "run[1][distance]" %>

  <%= label_tag(:hours, "Hours:") %>
  <%= text_field_tag 'hours', nil, class: "form-control", name: "run[1][hours]" %>
  
  <%= label_tag(:minutes, "Minutes:") %>
  <%= text_field_tag 'minutes', nil, class: "form-control", name: "run[1][minutes]" %>
  
  <%= label_tag(:seconds, "Seconds:") %>
  <%= text_field_tag 'seconds', nil, class: "form-control", name: "run[1][seconds]" %>

  </div>

  </br>
  <%= submit_tag "Submit", class: "form-control btn-success", id: "querybtn" %>
<% end %>
