<script type="text/javascript">

// http://jsfiddle.net/mattball/gGtxL/
$(document).ready(function(){

    var $stats_related = $('#stats_related'),
        $stats_trends = $('#stats_trends'),
        currentWidth_trends = $stats_trends.css('width'),
        currentHeight_trends = $stats_trends.css('height'),
        currentWidth_related = $stats_related.css('width'),
        currentHeight_related = $stats_related.css('height'),
        goalWidth_related = currentWidth_related,
        goalHeight_related = currentHeight_related,
        goalWidth_trends = currentWidth_trends,
        goalHeight_trends = currentHeight_trends;

        // Set to 0.
        currentWidth_trends = 0;
        currentHeight_trends = 0;
        currentWidth_related = 0;
        currentHeight_related = 0;
    
    // related height
    setInterval(function ()
    {
      if(currentHeight_related < goalHeight_related)
      {
        currentHeight_related ++;
      }
    }, 100);

    // related width
    setInterval(function ()
    {
      if(currentWidth_related < goalWidth_related)
      {
        currentWidth_related ++;
      }
    }, 100);

    // trends width
    setInterval(function ()
    {
      if(currentHeight_trends < goalHeight_trends)
      {
        currentHeight_trends ++;
      }
    }, 100);

    // trends height
    setInterval(function ()
    {
      if(currentWidth_trends < goalWidth_trends)
      {
        currentWidth_trends ++;
      }
    }, 100);

});
</script>

<h1> Your query: </h1>

<h3><span class="label label-info"><%= params['run'].length %> runs.</span></h3>

<div class="row">
  <div class="col-md-6">
    <h3>Estimate from similar runs</h3>
    <div id="stats_related" class="well well-sm">
      <h4>Time</h4>
      <p id="time_related"><%= @estimate[:related][0] %> seconds.</p>
      <h4>Standard deviation <a href="http://en.wikipedia.org/wiki/Standard_deviation">(?)</a></h4>
      <p id="sd_related"><%= @estimate[:related][1].round(3) %> seconds.</p>
      <h4>Based on</h4>
      <p id="runs_related"><%= @estimate[:related][2] %> other people's runs.</p>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Estimate from average trends</h3>
    <div id="stats_trends" class="well well-sm">
      <h4>Time</h4>
      <p id="time_trends"><%= @estimate[:ratio][0] %> seconds.</p>
      <h4>Standard deviation <a href="http://en.wikipedia.org/wiki/Standard_deviation">(?)</a></h4>
      <p id="sd_trends"><%= @estimate[:ratio][1].round(3) %> seconds.</p>
      <h4>Based on</h4>
      <p id="runs_trends"><%= @estimate[:ratio][2] %> other people's runs.</p>
    </div>
  </div>
</div>

<%= link_to("Back", "/", class: "btn btn-sm btn-success") %>
